<div id="margen">
    <button ><a routerLink="/list_editorial" routerLinkActive="router-link-active"> 
        <span class="mif-arrow-left mif-4x fg-black"></span></a></button>
    <div id="borde">
        <fieldset>
            <legend>Adicionar Editorial:</legend>
  
    <form (ngSubmit)="Enviar()" #form_editorial="ngForm">
        <label type="number" name="code" placeholder="Nombre" [(ngModel)]="edit.code"></label>
        <div class="row mb-2">
            <label class="cell-sm-3"> Nombre de la editorial:</label>
            <input type="text" name="nombre" class="primary" size="40" [(ngModel)]="edit.nombre" required >
        </div>
        <div>
            <label name="estado" [(ngModel)]="edit.estado" value="0" required></label>
          </div>
          <div id="btn1">
            <button type="submit"  class="btn" class="btn btn-secondary" [disabled]="!form_editorial.valid" >Guardar</button>
        </div>  
        <div id="btn2">
            <button type="reset" class="btn" class="btn btn-secondary">Cancelar</button>
        </div>
    </form>
</fieldset>
</div>
</div>