
<div class="toolbar" role="banner" >
  <nav class="menu-fixed"> 
  <ul class="v-menu" >
    <li>
      <a routerLink="/login" routerLinkActive="router-link-active"><span class="mif-lock icon"></span> Login</a>
    </li>
      <li class="nav-item">
        <a routerLink="/listar_usuario" routerLinkActive="router-link-active"><span class="mif-user icon"></span>Usuario</a>
      </li>
      <li class="nav-item">
        <a routerLink="/listar_empleados" routerLinkActive="router-link-active"><span class="mif-user icon"></span>Empleados</a>
      </li>
      <li class="nav-item">
         <a routerLink="/list_area" routerLinkActive="router-link-active"> <span class="mif-inbox icon"></span>Area</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list_editorial" routerLinkActive="router-link-active"> <span class="mif-books icon"></span>Editorial</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list_tipo" routerLinkActive="router-link-active"><span class="mif-keyboard icon"></span>Tipo</a>
      </li>
  
      <li class="nav-item">
        <a routerLink="/listar_autor" routerLinkActive="router-link-active" ><span class="mif-user icon"></span>Autor</a>
    
      </li>
      <li class="nav-item">
        <a routerLink="/list_texto" routerLinkActive="router-link-active"><span class="mif-book-reference icon"></span>Texto</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list_ejemplar" routerLinkActive="router-link-active" ><span class="mif-open-book icon"></span>Ejemplar</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list_prestamo-ejemplar" routerLinkActive="router-link-active"><span class="mif-paste icon"></span>Prestamo de ejemplar</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list_devol" routerLinkActive="router-link-active"> <span class="mif-book-reference icon"></span>Devoluciones</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list_anu-devol" routerLinkActive="router-link-active"><span class="mif-cross icon"></span>Anulacion de devoluciones</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list_rol" routerLinkActive="router-link-active"><span class="mif-wrench icon"></span>Rol</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list_menu" routerLinkActive="router-link-active"><span class="mif-menu icon"></span>Menu</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list_prosmenu" routerLinkActive="router-link-active"><span class="mif-air icon"></span>Asignacion proceso a menu</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list_menurol" routerLinkActive="router-link-active"><span class="mif-air icon"></span>Asignacion menus a rol</a>
      </li>
      <li class="nav-item">
        <a routerLink="/list_rol-user" routerLinkActive="router-link-active"><span class="mif-air icon"></span>Asignacion roles a usuario</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" routerLinkActive="router-link-active"><span class="mif-loop2 icon"></span>Salir</a>
      </li>
    </ul>
  </nav>
  </div>
