#margen{
    background: radial-gradient(rgb(63, 219, 219), rgb(9, 122, 122));
    left: 280px;
    width: 80%;
    height: 500px;
    color: white;
}
#borde{
    top: 2%;
     left: 5%;
     width: 90%;
 }
 .btn{
    background: #000000;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
   
 }
 #boton{
     position: absolute;
     top:150px;
    left: 20%;
  }
  #boton1{
    position: absolute;
    top:150px;
   left: 50%;
 }