<div id="margen">
  <div id="borde">

    <fieldset>
      <legend>Anulacion de Devoluciones:</legend>
      <div id="fi">
        <label>Fecha :</label>
        <select>
          <option *ngFor="let item of lista" [value]="getID(item._links.self.href)">{{item.fecha |date:'dd/MM/yyyy'}}
          </option>
        </select>
      </div>

      <div id="estu">
        <label for="">Estudiante:</label>
        <select>
          <option *ngFor="let item of per" [value]="getID(item._links.self.href)">{{item.ci}} </option>
        </select>
      </div>

      <div id="radio">
        <input type="radio" name="fav_language">
        <label>Activos:</label>
        <input type="radio" name="fav_language">
        <label>Bajas:</label>
        <input type="radio" name="fav_language" value="CSS">
        <label for="css">Todos:</label>
      </div>

      <div id="tabla">
        <legend>Devoluciones:</legend>
        <table class="table striped">
          <!--data-role="table" data-rows="5"-->

          <thead>
            <tr>
              <th>#</th>
              <th>CodDevolucion</th>
              <th>Fecha</th>
              <th>Estudiante</th>

              <td>Estado</td>
              <td>B</td>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of lista, let indice=index">
              <td>{{indice+1}} </td>
              <td>{{item.codd}}</td>
              <td>{{item.fecha |date:'dd/MM/yyyy'}}</td>

              <td> </td>
              <td>
                <container-element [ngSwitch]="item.estado" color="light">
                  <div *ngSwitchCase="1">
                    <span class="mif-thumbs-up mif-3x fg-black"></span>
                  </div>
                  <div *ngSwitchCase="0">
                    <span class="mif-thumbs-down mif-3x fg-black"></span>
                  </div>
                </container-element>
              </td>

              <td> <span class="mif-bin mif-3x fg-black" (click)="Eliminar(item)"></span></td>
            </tr>
          </tbody>
        </table>

        <legend>Ejemplares:</legend>
        <table class="table striped">
          <thead>
            <tr>
              <th>#</th>
              <th>CodEjemplar</th>
              <th>Disponible</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ejem, let indice=index">
              <td>{{indice+1}} </td>
              <td>{{item.codinv}}</td>
              <td>
                <container-element [ngSwitch]="item.estado" color="light">
                  <div *ngSwitchCase="1">
                    <span class="mif-thumbs-up mif-3x fg-black"></span>
                  </div>
                  <div *ngSwitchCase="0">
                    <span class="mif-thumbs-down mif-3x fg-black"></span>
                  </div>
                </container-element>
              </td>

              <td> <span class="mif-bin mif-3x fg-black" (click)="Eliminar1(item)"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </fieldset>
    <div id="tabla2">
      <fieldset>
        <legend>ANULAR DE DEVOLUCIONES: </legend>


        <form [formGroup]="ddvol">

          <table class="table">
            <thead>
              <tr>
                <th>Codigo Ejemplar</th>
                <th>Codigo Devolucion</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div>
                    <label for=""> EJEMPLARES</label>
                    <select value="rol" placeholder="Seleccione un rol" formControlName="ejem">
                      <option *ngFor="let items of ejem" value="{{items._links.self.href}}">{{items.codinv}}</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div>
                    <label for=""> MDEVOL</label>
                    <select value="usuario" placeholder="Seleccione una devolucion" formControlName="dvol">
                      <option *ngFor="let item of lista" value="{{item._links.self.href}}">{{item.codd}} </option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div id="boton1">
            <button class="btn" (click)="delete()">Anular Devolucion</button>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div>